<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Products</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

<!-- Custom Fonts -->
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"
	type="text/css">

<!-- Plugin CSS -->
<link rel="stylesheet" href="css/animate.min.css" type="text/css">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/creative.css" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
				    <li><a href="/index">Home</a></li>
					<li><a class="page-scroll" href="/index#newProduct">Insert Product</a></li>
					<li><a class="page-scroll" href="/products#productslist">Products</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h1>List of products</h1>
			</div>
		</div>
	</header>


	
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Products</h2>
					<hr class="primary">
				</div>
			</div>
		</div>
		<section class="bg-primary" id="productslist">
		<div class="container">
			<div class="col-lg-5">
			<form method="POST" action="/plotPriceExrate" id="products_form_plot" >
				 <button class="btn btn-default" name="plot" type="submit" form="products_form_plot">Plot</button>
					</form>
			</div>
			<div class="text-center col-lg-8">                            
				<table class="table">
				<thead>
						<tr>
							<th class="text-center">Product name</th>
							<th class="text-center">Description</th>
							<th class="text-center">Year</th>
							<th class="text-center">Price (USD)</th>
							<th class="text-center">USD/EUR exchange rate</th>
							<th class="text-center">Price (EUR)</th>
							<th class="text-center">Delete product</th>																	
						<tr>
						</thead>
						<tbody>
				    <form method="POST" action="/delete-product" id="products_form">
					</form> 
		
						
					{{#products}}
					<tr>
							<td>{{name}}</td>
							<td>{{description}}</td>
							<td>{{year}}</td>
							<td>{{price}}</td>
							<td>{{exrate}}</td>
							<td>{{priceeur}}</td>
					     <td><button class="btn btn-default" name="product_id" type="submit" value="{{_id}}" form="products_form">Delete</button></td>					
						</tr>
                     {{/products}}	
                     </tbody>
                     
				</table>
		
			</div>
				 
				
			</div>
		
			
	</section>

	


	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/wow.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="js/creative.js"></script>

</body>

</html>
